<div class="page-header mid" style="padding-left: 15px">
    <h1>种植管理</h1>
</div>
<div class="content mid">
    <div class="container-fluid">
        <div class="row" style="margin: 0 -30px">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" ng-class="view_record_active" id="records-nav" ng-click="viewRecord()"><a href="#">记录管理</a></li>
                <li role="presentation" ng-class="new_record_active" id="new-record-nav" ng-click="newRecord()"><a href="#">新建记录</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="layer-content" id="records" ng-show="is_record">
                <div class="list-group">
                    <a ui-sref="field_detail" href="#" class="list-group-item">记录1<span style="float: right; position: relative;">2018-01-01</span></a>
                    <a ui-sref="field_detail" href="#" class="list-group-item">记录2<span style="float: right; position: relative;">2018-01-01</span></a>
                </div>
            </div>
            <div class="layer-content" id="new-record" ng-show="!is_record">
                <form>
                    <div class="form-group">
                        <label for="seed-name">种子名称</label>
                        <input type="text" class="form-control" id="seed-name" placeholder="种子名称" name="seedName">
                    </div>
                    <div class="form-group">
                        <label for="fertile-name">化肥名称</label>
                        <input type="text" class="form-control" id="fertile-name" placeholder="化肥名称" name="fertileName">
                    </div>
                    <div class="form-group">
                        <label for="fertile-concentration">化肥浓度</label>
                        <input type="text" class="form-control" id="fertile-concentration" placeholder="化肥浓度" name="fertileConcentration">
                    </div>
                    <div class="form-group">
                        <label for="pesticide-name">农药名称</label>
                        <input type="text" class="form-control" id="pesticide-name" placeholder="农药名称" name="pesticideName">
                    </div>
                    <div class="form-group">
                        <label for="pesticide-concentration">农药浓度</label>
                        <input type="text" class="form-control" id="pesticide-concentration" placeholder="农药浓度" name="pesticideConcentration">
                    </div>
                    <div class="form-group">
                        <label for="ph">pH</label>
                        <input type="text" class="form-control" id="ph" placeholder="pH" name="pH">
                    </div>
                    <div class="form-group">
                        <label for="water-quantity">水质</label>
                        <input type="text" class="form-control" id="water-quantity" placeholder="水质" name="waterQuantity">
                    </div>
                    <button type="button" class="btn btn-default pull-right" onclick="">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>